<div class="list-group">
  <div class="font-weight-bold">From</div>
  <div> <button type="button" class="btn btn-outline-primary btn-rounded" (click)="onlineClaimFormPopUp('creditorDetails')">Add
          Creditor Details
      </button>
  </div>
  <div ng-show="creditDetails" class="row">
      <div class="col-lg-3" *ngFor="let claimant of claim_form.creditors;let i=index">
          <div> {{claimant.name}}</div>
          <div > {{claimant.address.address}}, {{claimant.address.city}},</div>
          <div> {{claimant.address.state}}, {{claimant.address.country}}, {{claimant.address.pinCode}}</div>
          <div>Email : {{claimant.email}}, Mobile: {{claimant.phone}}</div>
      </div>
      <!--<div> {{claim_form.primaryClaimant.name}}</div>
      <div > {{claim_form.primaryClaimant.address.address}}, {{claim_form.primaryClaimant.address.city}},</div>
      <div> {{claim_form.primaryClaimant.address.state}}, {{claim_form.primaryClaimant.address.country}}, {{claim_form.primaryClaimant.address.pinCode}}</div>
      <div>Email : {{claim_form.primaryClaimant.email}}, Mobile: {{claim_form.primaryClaimant.phone}}</div>
      </div>-->
</div>
</div>

<!-- <div class="col-md-12 marginTopBottom"><b>From</b></div>
<div class="col-md-12">
  <div class="col-md-2">
      <button type="button" class="btn-fun" ng-click="onlineClaimFormPopUp('creditorDetails')">Add
          Creditor Details
      </button>
  </div>
</div>
<div class="col-md-12 marginTopBottom">
  <div class="col-md-12 marginTopBottom">
      <div class="col-md-12">
          {{claim_form.primaryClaimant.name}}
      </div>
      <div class="col-md-12">
          {{claim_form.primaryClaimant.address.address}}, {{claim_form.primaryClaimant.address.city}},
      </div>
      <div class="col-md-12">
          {{claim_form.primaryClaimant.address.state}}, {{claim_form.primaryClaimant.address.country}}, {{claim_form.primaryClaimant.address.pinCode}}
      </div>
      <div class="col-md-12">
          Email : {{claim_form.primaryClaimant.email}}, Mobile: {{claim_form.primaryClaimant.phone}}
      </div>
  </div>
</div> -->
<app-creditor-details [id]="'creditModel'"></app-creditor-details>
