<div  mdbModal #claimEmployeModel="mdbModal" class="modal fade top"  tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false}">
    <div class="modal-dialog modal-full-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="employee">Claim Amount</h4>
          </div>
          <div class="modal-body">
              <form class="form-horizontal mt-1">
                  <div class="form-group row mb-3">
                      <div class="col-lg-2 col-md-3">
                          <label>CIRP Commencement Date</label>
                      </div>
                      <div class="col-lg-2 col-md-3">
                          {{claim_form.commencementDate | date:'dd/MM/yyyy'}}
                      </div>

                  </div>
              </form>
              <div class="text-center mb-2"><b>Claim Details - > Principal : {{claim_form.amount}} , Interest : {{claim_form.interest}}, Total: {{claim_form.total}}</b></div>
              <div class="table-responsive">
                  <table class="table table-bordered table-centered mb-0">
                      <thead class="thead-light ">
                              <tr>
                                  <th >Sr</th>
                                  <th>Employee/Workmen ID</th>
                                  <th >Name</th>
                                  <th >Type</th>
                                  <th >Comment</th>
                                  <th style="width:5%"></th>
                              </tr>
                      </thead>
                      <tbody>
                              <tr>
                                  <td></td>
                                  <!-- <td style="width:20%"><input type="text" ng-model="claimObj.unitDetails.claimId"></td>-->
                                  <td ><input type="text" class="form-control" ng-model="claimObj.unitDetails.unit"></td>
                                  <td ><input type="text" class="form-control" ng-model="claimObj.unitDetails.name"></td>
                                  <td ><select class="form-control" ng-model="claimObj.unitDetails.type">
                                      <option *ngFor="let facility of claimTypes.EC.EC"  value="{{facility}}">{{facility}}</option>
                                  </select></td>
                                  <td ><input type="text" class="form-control" ng-model="claimObj.unitDetails.comment"></td>

                                  <td >
                                      <button type="button" class="btn btn-primary" ng-click="addClaimObj()">+</button>
                                  </td>
                              </tr>
                              <tr  *ngFor="let claim of claimDetails;let i=index">
                                  <td>{{i+1}}</td>
                                  <td>{{claim.unitDetails.unit}}</td>
                                  <td>{{claim.unitDetails.name}}</td>
                                  <td>{{claim.unitDetails.type}}</td>
                                  <td>{{claim.unitDetails.comment}}</td>
                                  <td ><img src="img/cross.png" style="width:15px" ng-click="deleteUnitDetails(claim,$index)"></td>
                              </tr>
                      </tbody>
                  </table>
              </div>
              <div class="table-responsive mt-3">
                  <div *ngFor="let claim of claimDetails;let i=index">
                      <div >
                          <div class="text-center mb-2"> <b >Amount Details of :  {{claim.unitDetails.name}} ({{claim.unitDetails.unit}}/{{claim.unitDetails.type}}), Principal : {{claim.amount}} , Interest : {{claim.interest}}, Penalty : {{claim.penalty}}, Total: {{claim.total}}</b></div>
                      <table class="table table-bordered table-centered mb-0">

                          <thead class="thead-light ">
                                  <tr>
                                      <th>Sr</th>

                                      <th>Claim Due Date</th>
                                      <th>Claim Amount</th>
                                      <th>Interest Amount</th>
                                      <th>Penalty + Charges</th>
                                      <th>Total</th>
                                      <!--<th>Comment</th>-->
                                      <th></th>
                                  </tr>
                          </thead>
                          <tbody>
                                  <tr>
                                      <td></td>
                                      <td><input class="form-control" type="date" class="form-control" ng-model="payments[$index].dueDate"></td>
                                      <td><input class="form-control" type="number" class="form-control" ng-model="payments[$index].amount" ng-change="calculateInterest(payments[$index])"></td>
                                      <td><input class="form-control" type="number" class="form-control" ng-model="payments[$index].interest" ng-change="calculateInterest(payments[$index])"></td>
                                      <td><input class="form-control" type="number" class="form-control" ng-model="payments[$index].penalty" ng-change="calculateInterest(payments[$index])"></td>
                                      <td><input class="form-control" type="text" class="form-control" ng-model="payments[$index].total" disabled ></td>
                                      <!--<td><input class="form-control" type="text" class="form-control" ng-model="payments[$index].comment"></td>-->
                                      <td >
                                          <button type="button" class="btn btn-primary" ng-click="addPaymentDetails(claim, $index)">+</button>
                                      </td>
                                  </tr>
                                  <tr *ngFor="let payment of claim.paymentDetails;let i=index">
                                          <td>{{payment.index}}</td>
                                          <td>{{payment.dueDate | date :  "dd/MM/yy"}}</td>
                                          <td>{{payment.amount}}</td>
                                          <td>{{payment.interest}}</td>
                                          <td>{{payment.penalty}}</td>
                                          <td>{{payment.total}}</td>
                                          <!--<td>{{payment.comment}}</td>-->
                                          <td style="width:5%"><img class="pointer" src="img/cross.png" style="width:15px" ng-click="deletePaymentRow(claim, $index)"></td>
                                      </tr>
                          </tbody>

                      </table>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="closeClaimModel()">Cancel</button>
          </div>
      </div>
    </div>
</div>
