<!-- Large modal -->
<div  mdbModal #userCreationModel="mdbModal" class="modal fade top"  tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false}">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel" *ngIf="!update">USER REGISTRATION</h4>
              <h4 class="modal-title" id="myLargeModalLabel" *ngIf="update">UPDATE USER</h4>
          </div>
          <div class="modal-body">
              <div class="pl-3 pr-3" >
                  <div ng-if="modal.view='USER'">
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="{{myShortName + 'userid'}}" class="col-form-label">User Id</label>
                              <input type="email" class="form-control" [disabled]="update" id="{{myShortName + 'userid'}}"   [(ngModel)]="user.userId" placeholder="Email Id" required>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="{{myShortName + 'refCode'}}" class="col-form-label">Org Code</label>
                              <input type="text" class="form-control" [disabled]="permCategory!=='BACKOFFICE'" id="{{myShortName + 'refCode'}}"   [(ngModel)]="user.refCode" placeholder="Org Code" required>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="{{myShortName + 'firstname'}}">First Name</label>
                              <input class="form-control"  id="{{myShortName + 'firstname'}}" type="text"  [(ngModel)]="user.first_name" placeholder="First Name"  required/>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="{{myShortName + 'lastname'}}">Last Name</label>
                              <input class="form-control"  id="{{myShortName + 'lastname'}}" type="text"  [(ngModel)]="user.last_name" placeholder="Last Name"  required/>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="{{myShortName + 'panNo'}}">PAN</label>
                              <input class="form-control"  id="{{myShortName + 'panNo'}}" type="text"  [(ngModel)]="user.pan" placeholder="PAN"/>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="{{myShortName + 'mobile'}}">Mobile</label>
                              <input class="form-control"  id="{{myShortName + 'mobile'}}" type="text"  [(ngModel)]="user.mobile" placeholder="Mobile"/>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="{{myShortName + 'email'}}" class="col-form-label">Email*</label>
                              <input  id="{{myShortName + 'email'}}" type="email" class="form-control"  [(ngModel)]="user.email" placeholder="Email"  required/>
                          </div>
                          <div class="form-group col-md-6">
                              <label  class="col-form-label">Permission Category</label>
                              <select class="form-control" [(ngModel)]="user.permissionCategory">
                                  <option value=""> NONE</option>
                                  <option value="BACKOFFICE"> Back Office</option>
                                  <option value="ORG_ADMIN"> Org Admin</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="form-row" >
                      <div class="form-group col-lg-6">&nbsp;</div>
                      <div class="form-group col-lg-6 text-right">
                          <button class="btn btn-primary mr-1" (click)="saveNewUser()" id="{{myShortName + 'register'}}"*ngIf="!update">Save</button>
                          <button class="btn btn-primary mr-1" (click)="saveNewUser()" id="{{myShortName + 'uregister'}}" *ngIf="update">Update</button>
                          <button class="btn btn-primary" id="{{myShortName + 'exit'}}" (click)="removePopup()" >Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
