<div class="text-left" *ngIf="claim_form && claim_form.primaryClaimant" >
  <span *ngIf="claim_form.primaryClaimant.address" >{{claim_form.primaryClaimant.address.address}}, {{claim_form.primaryClaimant.address.city}},
  {{claim_form.primaryClaimant.address.state}}, {{claim_form.primaryClaimant.address.pinCode}}, {{claim_form.primaryClaimant.address.country}},</span>
  <span *ngIf="claim_form.primaryClaimant.email" >Email : {{claim_form.primaryClaimant.email}},</span> <span *ngIf="claim_form.primaryClaimant.phone">Mobile : {{claim_form.primaryClaimant.phone}}</span>
</div>
