<div class="table-responsive">
  <table class="table table-bordered table-centered mb-0">
      <thead class="thead-light ">
        <tr>
            <th >Name</th>
            <th >ID Type</th>
            <th >Name As On ID Card</th>
            <th > ID Number</th>
            <th *ngIf="CIN_NO" >CIN Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dList of claim_form.ids;let i=index">
            <td >{{dList.name}}</td>
            <td >{{dList.idType}}</td>
            <td >{{dList.nameOnId}}</td>
            <td >{{dList.idNumber}}</td>
            <td *ngIf="CIN_NO">{{dList.cinNumber}}</td>
        </tr>
      </tbody>
  </table>
</div>
