<div class="table-responsive" b>
  <table class="table table-bordered table-centered mb-0">
    <thead class="thead-light text-center">
      <tr>
          <th colspan="3"> Relevant Particulars</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td scope="col">1</td>
          <td class="text-left w-25">Name of operational creditor</td>
          <td scope="col" class="text-left">{{claim_form.primaryClaimant.name}}</td>
      </tr>
      <tr>
          <td>2</td>
          <td class="text-left"> Identification number of operational creditor<br>
              (If an incorporated body provide identification number and proof of incorporation. If a
              partnership or individual provide identification records* of all the partners or the
              individual)
          </td>
          <td>
            <div>
              <app-id_details [claim_form]="claim_form" [CIN_NO]="true"></app-id_details>
            </div>
          </td>
      </tr>
      <tr>
          <td>3</td>
          <td class="text-left">Address and email address of the financial creditor for
              correspondence
          </td>
          <td class="text-left">
              <div >
                <app-address-information [claim_form]="claim_form"></app-address-information>
              </div>
          </td>
      </tr>
      <tr>
          <td>4</td>
          <td class="text-left"> Total amount of claim<br>
              (Including any interest as at the insolvency commencement date)
          </td>
          <td>
            <div >
              <app-claim-amount-with-operational [claim_form]="claim_form"></app-claim-amount-with-operational>
            </div>
            <!-- <div ng-include src="'es/onlineClaimsForm/common_partial/partial_claimAmountWithOperational.html'"></div> -->
          </td>
      </tr>
      <tr>
          <td>5</td>
          <td class="text-left"> Details of documents by reference to which the debt can be
              substantiated
          </td>
          <td>
              <div class="col-md-12">
                  <div class="col-md-12">&nbsp;</div>
                  <div class="col-md-12">
                      <div class="col-md-3 textAlignLeft"
                            *ngFor="let doc of claim_form.docList;let i=index"
                            style="position:relative;">
                          <img class="pointer" src="/assets/img/cross.png" style="width:15px"
                                (click)="deleteDocument(doc,i)">
                          <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                              style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                          <!--<button style="background: transparent;position: absolute;right: 2px;top: 0px;height: 17px;width: 4px;font-size: x-small;border: none;" ng-click="removeDoc(doc,index)">x</button>-->
                      </div>
                  </div>
              </div>
          </td>
      </tr>
      <tr>
          <td>6</td>
          <td class="text-left"> Details of any dispute as well as the record of pendency or order of suit or arbitration
              proceedings
          </td>
          <td>{{claim_form.disputeDetails}}</td>
      </tr>
      <tr>
          <td>7</td>
          <td class="text-left"> Details of how and when debt incurred</td>
          <td>{{claim_form.debtDetails}}</td>
      </tr>
      <tr>
          <td>8</td>
          <td class="text-left">Details of any mutual credit, mutual debts, or other mutual dealings
              between the corporate debtor and the creditor which may be set-off against the claim
          </td>
          <td>{{claim_form.mutualDealing}}</td>>
      </tr>
      <tr>
        <td>9</td>
        <td colspan="2" class="text-left">DETAILS OF:</td>
      </tr>
      <tr>
          <td>9(a)</td>
          <td class="text-left">Any security held, the value of security and its date, or</td>
          <td>
            <div>
              <app-securityDetails [claim_form]="claim_form"></app-securityDetails>
            </div>
          </td>
      </tr>
      <tr>
          <td>9(b)</td>
          <td class="text-left">Any retention of title arrangement in respect of goods or properties to which the
              claim refers
          </td>
          <td>{{claim_form.retentionDetails}}</td>>
      </tr>
      <tr>
          <td>10</td>
          <td class="text-left">
              Details of the bank account to which the amount of the claim or any part thereof can be
              transferred pursuant to a resolution plan
          </td>
          <td>
            <div >
              <app-bankDetails [claim_form]="claim_form"></app-bankDetails>
            </div>
          </td>
      </tr>
      <tr>
          <td>11</td>
          <td class="text-left">List of documents attached to this proof of claim in order to prove
              the
              existence and non-payment of claim due to the operational creditor
          </td>
          <td>
              <div class="col-md-12">
                  <div class="col-md-12">&nbsp;</div>
                  <div class="col-md-12">
                      <div class="col-md-3 textAlignLeft"
                            *ngFor="let doc of claim_form.docList;let i=index"
                            style="position:relative;">
                          <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                              style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                      </div>
                  </div>
              </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" ca>
  <table class="table table-bordered table-centered mb-0">
    <thead class="thead-light text-center">
      <tr>
          <th colspan="3"> Relevant Particulars</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td scope="col">1</td>
          <td  class="text-left w-25" > Name of the financial creditor</td>
          <td scope="col" class="text-left">
              <div *ngFor="let claimant of claim_form.creditors">
                  {{claimant.name}}
              </div>
          </td>
      </tr>
      <tr>
          <td>2</td>
          <td class="text-left"> Identification number of the financial creditor <br>
              (If an incorporated body, provide identification number and proof of incorporation. If a
              partnership or
              individual provide identification records* of all the partners or the individual)
          </td>
          <td>
            <div  *ngIf="claim_form.catClass=='Home Buyers(Authorised Rep)' || claim_form.catClass=='Commercial Buyer(Authorised Rep)'">
              <div>
                <app-id_details [claim_form]="claim_form" [CIN_NO]="false"></app-id_details>
              </div>
            </div>
            <div  *ngIf="claim_form.catClass=='Home Buyers'  || claim_form.catClass=='Commercial Buyer'">
                <div >
                  <app-id_details [claim_form]="claim_form" [CIN_NO]="true"></app-id_details>
                </div>
            </div>
          </td>
      </tr>
      <tr>
          <td>3</td>
          <td class="text-left">Address and email address of the financial creditor for
              correspondence
          </td>
          <td class="text-left">
              <div >
                <app-address-information [claim_form]="claim_form"></app-address-information>
              </div>
          </td>
      </tr>
      <tr>
          <td>4</td>
          <td class="text-left">Total amount of claim
              (including any interest as at the insolvency commencement date)
          </td>
          <td>
            <div class="col-md-12">
                <div  ng-show="showIdDetails" ng-if=" claim_form.catClass=='Home Buyers(Authorised Rep)' || claim_form.catClass=='Commercial Buyer(Authorised Rep)'">
                  <div >
                    <app-claim_amount_with_unit_details [claim_form]="claim_form"></app-claim_amount_with_unit_details>
                  </div>
                </div>
                <div   ng-if="claim_form.catClass=='Home Buyers'  || claim_form.catClass=='Commercial Buyer'">
                  <div >
                    <app-claim_amount_with_unit_details [claim_form]="claim_form"></app-claim_amount_with_unit_details>
                  </div>
                </div>
            </div>
          </td>
      </tr>
      <tr>
          <td>5</td>
          <td class="text-left"> Details of documents by reference to which the debt can be
              substantiated
          </td>
          <td>
            <div class="col-md-12">
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12">
                    <div class="col-md-3 textAlignLeft"
                          *ngFor="let doc of claim_form.docList;let i=index"
                          style="position:relative;">
                        <img class="pointer" src="/assets/img/cross.png" style="width:15px"
                              (click)="deleteDocument(doc,i)">
                        <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                            style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                        <!--<button style="background: transparent;position: absolute;right: 2px;top: 0px;height: 17px;width: 4px;font-size: x-small;border: none;" ng-click="removeDoc(doc,index)">x</button>-->
                    </div>
                </div>
            </div>
          </td>
      </tr>
      <tr>
          <td>6</td>
          <td class="text-left"> Details of how and when debt incurred</td>
          <td>{{claim_form.debtDetails}}</td>
      </tr>
      <tr>
          <td>7</td>
          <td class="text-left">Details of any mutual credit, mutual debts, or other mutual
              dealings
              between the corporate debtor and the
              creditor which may be set-off against the claim
          </td>
          <td>{{claim_form.mutualDealing}}</td>
      </tr>
      <tr>
          <td>8</td>
          <td class="text-left">Details of any security held, the value of the security, and the
              date
              it was given
          </td>
          <td>
            <div>
              <app-securityDetails [claim_form]="claim_form"></app-securityDetails>
            </div>
          </td>
      </tr>
      <tr>
          <td>9</td>
          <td class="text-left"> Details of the bank account to which the amount of the claim or
              any
              part thereof can be transferred
              pursuant to a resolution plan
          </td>
          <td>
            <div >
                <app-bankDetails [claim_form]="claim_form"></app-bankDetails>
              </div>
          </td>
      </tr>
      <tr>
          <td>10</td>
          <td class="text-left">List of documents attached to this claim in order to prove the
              existence and non-payment of claim due to the
              financial creditor
          </td>
          <td>
              <div class="col-md-12">
                  <div class="col-md-12">&nbsp;</div>
                  <div class="col-md-12">
                      <div class="col-md-3 textAlignLeft"
                            *ngFor="let doc of claim_form.docList;let i=index"
                            style="position:relative;">
                          <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                              style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                      </div>
                  </div>
              </div>
          </td>
      </tr>
      <tr>
          <td>11</td>
          <td class="text-left">Name of the insolvency professional who will act as the Authorised representative of creditors of the class
          </td>
          <td>{{claim_form.authorised_person}}</td>>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" d>
  <table class="table table-bordered table-centered mb-0">
    <thead class="thead-light text-center">
      <tr>
          <th colspan="3">Particulars</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td scope="col">1</td>
          <td class="text-left w-25">Name of workman / employee</td>
          <td scope="col" class="text-left">{{claim_form.primaryClaimant.name}}</td>
      </tr>
      <tr>
          <td>2</td>
          <td class="text-left ">
              Pan Number, Passport, the identity card issued by the Election Commission of India or
              Aadhaar
              Card of workman / employee
          </td>
          <td>
            <div >
              <app-id_details [claim_form]="claim_form" [CIN_NO]="false"></app-id_details>
            </div>
          </td>
      </tr>
      <tr>
          <td>3</td>
          <td class="text-left ">
              Address and email address (if any) of workman / employee for correspondence
          </td>
          <td>
              <div >
                <app-address-information [claim_form]="claim_form"></app-address-information>
              </div>
          </td>
      </tr>
      <tr>
          <td>4</td>
          <td class="text-left">Total amount of claim

              (Including any interest as at the insolvency commencement date)
          </td>
          <td>
              <div class="row">
                <div >
                  <app-claim-amount-with-employee [claim_form]="claim_form"></app-claim-amount-with-employee>
                </div>
                <!-- <div ng-include src="'es/onlineClaimsForm/common_partial/partial_claimAmountWithEmployee.html'"></div> -->
              </div>
          </td>
      </tr>
      <tr>
          <td>5</td>
          <td class="text-left">Details of documents by reference to which the claim can be
              substantiated.
          </td>
          <td>
              <div class="col-md-12">
                  <div class="col-md-12">&nbsp;</div>
                  <div class="col-md-12">
                      <div class="col-md-3 textAlignLeft"
                            *ngFor="let doc of claim_form.docList;let i=index"
                            style="position:relative;">
                          <img class="pointer" src="/assets/img/cross.png" style="width:15px"
                                (click)="deleteDocument(doc,i)">
                          <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                              style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                          <!--<button style="background: transparent;position: absolute;right: 2px;top: 0px;height: 17px;width: 4px;font-size: x-small;border: none;" ng-click="removeDoc(doc,index)">x</button>-->
                      </div>
                  </div>
              </div>
          </td>
      </tr>
      <tr>
          <td>6</td>
          <td class="text-left">
              Details of any dispute as well as the record of pendency or order of suit or arbitration
              proceedings
          </td>
          <td>{{claim_form.disputeDetails}}</td>
      </tr>
      <tr>
          <td>7</td>
          <td class="text-left">
              Details of how and when claim arose
          </td>
          <td>{{claim_form.debtDetails}}</td>
      </tr>
      <tr>
          <td>8</td>
          <td class="text-left">Details of any mutual credit, mutual debts, or other mutual
              dealings
              between the corporate debtor and the creditor which may be set-off against the claim
          </td>
          <td>{{claim_form.mutualDealing}}</td>
      </tr>
      <tr>
          <td>9</td>
          <td class="text-left">
              Details of the bank account to which the amount of the claim or any part thereof can be
              transferred pursuant to a resolution plan
          </td>
          <td>
            <div >
                <app-bankDetails [claim_form]="claim_form"></app-bankDetails>
              </div>
          </td>
      </tr>
      <tr>
          <td>10</td>
          <td class="text-left">List of documents attached to this proof of claim in order to
              prove
              the
              existence and non-payment of claim due to the operational creditor
          </td>
          <td>
              <div class="col-md-12">
                  <div class="col-md-12">&nbsp;</div>
                  <div class="col-md-12">
                      <div class="col-md-3 textAlignLeft"
                            *ngFor="let doc of claim_form.docList;let i=index"
                            style="position:relative;">
                          <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                              style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                      </div>
                  </div>
              </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row mt-2">
  <div class="col-lg-12 mb-2">
      <u><b>Other Details</b></u>
  </div>
  <form class="row col-lg-12">
      <div class="col-lg-4 form-group">
          <label >Date Of Joining:</label>
          {{claim_form.joiningDate | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-lg-4 form-group">
          <label >Date Of Resignation:</label>
          {{claim_form.resignationDate | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-lg-4 form-group">
          <label >Date Of Promotion:</label>
          {{claim_form.promotionDate | date:'dd/MM/yyyy'}}
      </div>
  </form>
</div>
<div class="table-responsive" f>
  <table class="table table-bordered table-centered mb-0">
    <thead class="thead-light text-center">
      <tr>
        <th colspan="3">PARTICULARS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td scope="col">1</td>
          <td class="text-left w-25">Name of the creditor</td>
          <td scope="col" class="text-left">{{claim_form.primaryClaimant.name}}</td>
      </tr>
      <tr>
          <td>2</td>
          <td class="text-left">Identification number of the creditor <br>
              (If an incorporated body corporate, provide identification number and proof of
              incorporation. If
              a partnership or individual, provide identification record* of all partners or the
              individuals)
          </td>
          <td>
            <div >
              <app-id_details [claim_form]="claim_form" [CIN_NO]="false"></app-id_details>
            </div>
          </td>
      </tr>
      <tr>
          <td>3</td>
          <td class="text-left">Address and email address of the creditor for correspondence</td>
          <td>
              <div >
                <app-address-information [claim_form]="claim_form"></app-address-information>
              </div>
          </td>
      </tr>
      <tr>
          <td>4</td>
          <td class="text-left">Description of the claim (Including the amount of the claim as at the
              insolvency commencement date)
          </td>
          <td>
            <div >
              <app-claim-amount-with-others [claim_form]="claim_form"></app-claim-amount-with-others>
            </div>
            <!-- <div ng-include src="'es/onlineClaimsForm/common_partial/partial_claimAmountWithOthers.html'"></div> -->
          </td>
      </tr>
      <tr>
          <td>5</td>
          <td class="text-left">Details of documents by reference to which claim can be
              substantiated
          </td>
          <td>
              <div class="col-md-12">
                  <div class="col-md-12">&nbsp;</div>
                  <div class="col-md-12">
                      <div class="col-md-3 textAlignLeft"
                            *ngFor="let doc of claim_form.docList;let i=index"
                            style="position:relative;">
                          <img class="pointer" src="/assets/img/cross.png" style="width:15px"
                                (click)="deleteDocument(doc,i)">
                          <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                              style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                          <!--<button style="background: transparent;position: absolute;right: 2px;top: 0px;height: 17px;width: 4px;font-size: x-small;border: none;" ng-click="removeDoc(doc,index)">x</button>-->
                      </div>
                  </div>
              </div>
          </td>
      </tr>
      <tr>
          <td>6</td>
          <td class="text-left">Details of how and when the claim arose</td>
          <td>{{}}</td>>
      </tr>
      <tr>
          <td>7</td>
          <td class="text-left">Details of any mutual credit, mutual debts, or other mutual dealings
              between the corporate debtor and the creditor which may be set-off against the claim
          </td>
          <td>{{claim_form.mutualDealing}}</td>
      </tr>
      <tr>
          <td>8</td>
          <td class="text-left">Details of: <br>
              <br> a. any security held, the value of security and its date, or
              b. retention title arrangement in respect of goods or properties to which the claim refers
          </td>
          <td>
            <div>
              <app-securityDetails [claim_form]="claim_form"></app-securityDetails>
            </div>
          </td>
      </tr>
      <tr>
          <td>9</td>
          <td class="text-left">Details of bank account to which the amount of the claim or any part
              thereof can be transferred pursuant to a resolution plan
          </td>
          <td>
            <div >
                <app-bankDetails [claim_form]="claim_form"></app-bankDetails>
              </div>
          </td>
      </tr>
      <tr>
          <td>10</td>
          <td class="text-left">List of documents attached to this claim in order to prove the
              existence
              and non-satisfaction of claim due to the creditor
          </td>
          <td>
              <div class="col-md-12">
                  <div class="col-md-12">&nbsp;</div>
                  <div class="col-md-12">
                      <div class="col-md-3 textAlignLeft"
                            *ngFor="let doc of claim_form.docList;let i=index"
                            style="position:relative;">
                          <a (click)="downloadFile(doc)" class="pointer textAlignLeft"
                              style="overflow: hidden;background: transparent;border: none;" disabled>{{doc.rollName}}</a>
                      </div>
                  </div>
              </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>
