<!-- NAVBAR START -->
<nav class="navbar navbar-expand-lg py-lg-1 navbar-dark ">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="mdi mdi-menu"></i>
      </button>

      <!-- menus -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- right menu -->
          <ul class="navbar-nav ml-auto align-items-center">

              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="moveToId('home')" >Home</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="moveToId('about')" >About</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="moveToId('solutions')" >Solutions</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="moveToId('insolvency')" >Insolvency Management</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="moveToId('disputeResolution')" >Disputes</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="moveToId('contact')" >Contact</a>
              </li>
              <li class="nav-item mr-0">
                  <a class="nav-link" href="javascript: void(0);" ng-click="openLoginPage('FC-DB')" >FC-Dashboard</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="openLoginPage('MCLMN')" id="myclaim">My Claim</a>
              </li>

              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="openLoginPage('MCRL')" id="login">ERP</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="openLoginPage('VDRL')" id="vdr">VDR</a>
              </li>
              <li class="nav-item mr-0">
                 <a class="nav-link" href="javascript: void(0);" ng-click="openRegisterPage('EM')" id="regasip">Register as IP</a>
              </li>
          </ul>

      </div>
  </div>
</nav>
<!-- NAVBAR END -->
