<ul class="list-unstyled topbar-right-menu float-right mb-0">

  <li class="dropdown notification-list float-left" >
      <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" id="topbar-userdrop" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false" [ngClass]="moduleName == 'MCLMN'?'' : 'user-account-style'">
          <span class="account-user-avatar">
              <img src="../../../assets/images/avatar-1.jpg" alt="user-image" class="rounded-circle">
          </span>
          <span *ngIf="moduleName == 'MCLMN'" >
              <span class="account-user-name">{{ userName }}</span>
              <span class="account-position">{{ user }}</span>
          </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown w-auto"  aria-labelledby="topbar-userdrop" style="">
          <!-- item-->
          <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome !</h6>
          </div>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <i class="dripicons-user mr-1"></i>
              <span>{{ userName }}</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <i class="dripicons-user-id mr-1"></i>
              <span>{{ user }}</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
              <i class="uil-envelope"></i>
              <span>{{ userEmail }}</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" (click)="logoutUser()"  class="dropdown-item notify-item">
              <i class="mdi mdi-logout mr-1"></i>
              <span>Logout</span>
          </a>
      </div>
  </li>

</ul>


