<div style="width: 475px;">
  <div class="card">
      <!-- Logo -->
      <div class="card-header pt-2 pb-2 text-center">
          <a href="#">
              <span><img src="../../../assets/images/login-logo.png" alt="" width="100%"></span>
          </a>
      </div>

      <div class="card-body p-4">

          <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Reset New Password</h4>
          </div>

          <form [formGroup]="resetNewPass">
                <div class="form-group mb-3 ">
                  <label >New Password</label>
                  <input class="form-control" type="password" formControlName="newPassword"  placeholder="Enter New Password.">
              </div>
              <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword"
                         placeholder="Enter Confirm Password" />
              </div>
              <div class="form-group mb-0 text-center">
                  <button class="btn btn-primary" type="submit" (click)="saveNewPassword()" >Save New Password</button>
              </div>
          </form>
      </div> <!-- end card-body-->
  </div>
  <!-- end card -->

</div> <!-- end col -->
