<div style="width: 475px;">
  <div class="card">
      <!-- Logo -->
      <div class="card-header pt-2 pb-2 text-center">
          <a href="#">
              <span><img src="../../../assets/images/login-logo.png" alt="" width="100%"></span>
          </a>
      </div>

      <div class="card-body p-4">

          <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Reset New Password</h4>
          </div>

          <form name="passwordReset" novalidate>
              <div class="form-group mb-3">
                  <label >Verification Code</label>
                  <input class="form-control" type="tel" data-ng-model="forgotUser.verificationCode"  required="" placeholder="Enter Verification Code.">
              </div>
              <div class="form-group mb-3 ">
                  <label >New Password</label>
                  <input class="form-control" type="password" data-ng-model="forgotUser.newPassword"  required="" placeholder="Enter New Password.">
              </div>
              <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" name="confirmPassword" class="form-control"
                         ng-model="forgotUser.confirmPassword"
                         required compare-to="forgotUser.newPassword" placeholder="Enter Confirm Password" />
                  <div ng-messages="passwordReset.confirmPassword.$error" >
                      <small ng-message="compareTo" class="text-danger">Both New and Confirm Password should match.</small>
                  </div>
              </div>
              <div class="form-group mb-0 text-center">
                  <button class="btn btn-primary" type="submit" ng-click="saveNewPassword()">Save New Password</button>
              </div>
          </form>
      </div> <!-- end card-body-->
  </div>
  <!-- end card -->

</div> <!-- end col -->
