<div class="navbar-custom topnav-navbar bg-primary">
  <div class="container-fluid">
      <a href="" class="topnav-logo">
        <span class="topnav-logo-lg">
            <img src="../../../assets/img/wlogo1.png" alt="" height="50">
        </span>
      </a>
      <app-user-account></app-user-account>
      <button class="button-menu-mobile open-left disable-btn">
        <i class="mdi mdi-menu"></i>
      </button>
      <app-case-search *ngIf="project_module == 'MCLMN'" ></app-case-search>
      <!-- <div ng-include src="'es/popUp/htm_horizontalNavBar.html'"></div> -->
  </div>

</div>
