<div  mdbModal #bankDetailsModel="mdbModal" class="modal fade top"  tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false}">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="bankDetails">Bank Account Details</h4>
            </div>
            <div class="modal-body">
                    <form class="pl-3 pr-3" name="registerForm" novalidate>
                            <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="{{myShortName + 'accountHolder'}}" class="col-form-label">Account Holder</label>
                                        <input type="text" class="form-control w-100" (blur)="isValidName('partyName','Account Holder')" id="{{myShortName + 'accountHolder'}}" [(ngModel)]="accountDetails.partyName" name="partyName">
                                    </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="{{myShortName + 'bankName'}}" class="col-form-label">Bank Name</label>
                                        <input type="text" class="form-control w-100" id="{{myShortName + 'bankName'}}"  [(ngModel)]="accountDetails.bankName" name="bankName">
                                    </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="{{myShortName + 'branch'}}" class="col-form-label">Branch</label>
                                        <input type="text" class="form-control w-100" id="{{myShortName + 'branch'}}"   [(ngModel)]="accountDetails.branch" name="branch">
                                    </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="{{myShortName + 'acNo'}}" class="col-form-label">Bank A/c No</label>
                                        <input type="text" class="form-control w-100" id="{{myShortName + 'acNo'}}" (blur)="isValidNumber('accountNumber','Account Number')"  [(ngModel)]="accountDetails.accountNumber" name="accountNumber">
                                    </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="{{myShortName + 'ifsc'}}" class="col-form-label">IFSC Code</label>
                                        <input type="text" class="form-control w-100" id="{{myShortName + 'ifsc'}}"  (blur)="isValidAlphaNumeric('ifscCode','IFSC Code')"  [(ngModel)]="accountDetails.ifscCode" name="ifscCode">
                                    </div>
                            </div>

                    </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="saveBankDetails()">Save</button>
                    <button type="button" class="btn btn-primary" (click)="closeBankAccount()">Cancel</button>
            </div>
    </div>
  </div>
</div>
