<table class="table table-bordered table-centered mb-0 mt-2 mb-2" >
  <thead class="thead-light text-center">
  <tr>
      <th colspan="2">Signature of financial creditor or person authorised to act on his
          behalf
          <br>
          [Please enclose the authority if this is being submitted on behalf of the financial
          creditor]
      </th>
  </tr>
  </thead>
  <tr>
      <td class="text-left w-25" >Name in BLOCK LETTERS</td>
      <td >{{claim_form.claimRep}}</td>
  </tr>
  <tr>
      <td class="text-left w-25" >Position with or in relation to creditor
      </td>
      <td>{{claim_form.relation}}</td>
  </tr>
  <tr>
      <td class="text-left w-25" >Address of person signing</td>
      <td>{{claim_form.claimRepAddress}}</td>
  </tr>

</table>
