<table class="table table-bordered table-centered mb-0">
  <thead class="thead-light ">
  <tr>
      <th>Account Holder</th>
      <th>Bank Name</th>
      <th>Bank A/C No</th>
      <th>Branch</th>
      <th>IFSC Code</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="claim_form.bankAccount" >
      <td>{{claim_form.bankAccount.partyName}}</td>
      <td>{{claim_form.bankAccount.bankName}}</td>
      <td>{{claim_form.bankAccount.accountNumber}}</td>
      <td>{{claim_form.bankAccount.branch}}</td>
      <td>{{claim_form.bankAccount.ifscCode}}</td>

  </tr>
  </tbody>
</table>

