<div class="col-md-12  " >
  <div class="col-md-12 border" id="formC">
      <div class="col-md-12" ng-show="showForm" >
           <div class="list-group text-center">
              <p><b> Home Buyers/Financial Creditors has an option to download the below available Claim Form from link <a href="https://ibbi.gov.in/home/downloads">https://ibbi.gov.in/home/downloads</a> OR CIRP website of Company (<a href="https://piyushitcirp.in/">https://piyushitcirp.in/</a>  OR <a href="https://arenasuperstructures.in/">https://arenasuperstructures.in/</a>, AS APPLICABLE, change company wise) and submit the scan copy of signed/filled form alongwith claim supporting documents.</b></p>
              <h4 class="mt-3">FORM C </h4>
                  <h4>SUBMISSION OF CLAIM BY FINANCIAL CREDITOR</h4>

              <p ><i>(Under Regulation 8 of the Insolvency and Bankruptcy Board of India (Insolvency
                  Resolution Process
                  for Corporate Persons) Regulations, 2016)</i></p>
          </div>

          <div>
            <app-form_header [claim_form]="claim_form" [selectedForm]="selectedForm"></app-form_header>
          </div>
          <div>
            <app-form_c_body [claim_form]="claim_form" [showIdDetails]="showIdDetails" [showCinDetails]="showCinDetails" [claimModeByClass]="claimModeByClass" [claimModeByBank]="claimModeByBank" [selectedForm]="selectedForm" [activeTabName]="activeTabName" [claimObj]="claimObj"></app-form_c_body>
          </div>
          <div>
            <app-form_footer></app-form_footer>
          </div>
      </div>
      <div class="col-md-12" *ngIf="showDeclaration" >
          <div>
            <app-declaration [claim_form]="claim_form"></app-declaration>
          </div>
      </div>
      <div class="col-md-12" *ngIf="showVerification" >
          <div>
            <app-verification [claim_form]="claim_form"></app-verification>
          </div>
      </div>
      <div class="col-md-12">&nbsp;</div>

      <div class="col-md-12">&nbsp;</div>
  </div>


</div>
