<div class="wrapper">
  <div class="content-page ml-0 p-0">
      <div class="content">
        <app-header></app-header>
        <div class="container-fluid">
          <div class="row mt-1">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body mt-4">
                          <div class="row">
                              <ul class="nav nav-tabs mb-3  col-lg-12">
                                <li class="nav-item">
                                    <a data-toggle="tab" aria-expanded="true"
                                      class="nav-link " [ngClass]="{'active': activeTabName=='MYCLAIM'}"
                                      data-toggle="tab" data-target="#documents"
                                      (click)="activeTab('MYCLAIM')">
                                        <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                        <span class="d-none d-md-block">My claim</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="tab" aria-expanded="true"
                                      class="nav-link " [ngClass]="{'active': activeTabName=='CLAIMSTATUS'}"
                                      (click)="activeTab('CLAIMSTATUS')">
                                        <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                        <span class="d-none d-md-block">Claim Status</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="tab" aria-expanded="false"
                                      class="nav-link disabled ">
                                        <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                        <span class="d-none d-md-block">My Support Requests</span>
                                    </a>
                                </li>
                              </ul>
                          </div>
                          <div class="tab-content">
                            <div class="tab-pane " id="documents" [ngClass]="{'active': activeTabName=='MYCLAIM'}" *ngIf="activeTabName=='MYCLAIM'">
                              <lib-my-claim [activeTabName]="activeTabName"></lib-my-claim>
                            </div>
                            <div class="tab-pane  " [ngClass]="{'active': activeTabName=='CLAIMSTATUS'}"
                            *ngIf="activeTabName=='CLAIMSTATUS'">

                                 <p>CLAIMSTATUS</p>

                            </div>

                            <div class="tab-pane " id="document"
                                 ng-class="{'active': activeTabName=='REVIEWAPPROVAL'}"
                                 *ngIf="activeTabName=='REVIEWAPPROVAL'">

                               <p>REVIEWAPPROVAL</p>

                            </div>

                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
  </div>
</div>
<app-confirmation-modal [id]="'confirmation_modal'"></app-confirmation-modal>
