<div style="width: 475px;">
  <div class="card">

      <!-- Logo -->
      <div class="card-header pt-2 pb-2 text-center">
          <a href="#">
              <span><img src="../../../assets/images/login-logo.png" alt="" width="100%"></span>
          </a>
      </div>

      <div class="card-body p-4">

          <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
          </div>


          <form [formGroup]="loginForm">
                <div class="row  pt-2 pb-2">
                  <!-- <div class="col-lg-12 text-center">
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="MCLMN" formControlName="type" class="custom-control-input" value="MCLMN" >
                          <label class="custom-control-label font-18" for="MCLMN">My Claim</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="ERP" formControlName="type" class="custom-control-input" value="MCRL">
                          <label class="custom-control-label font-18" for="ERP">ERP</label>
                      </div>
                  </div> -->
              </div>
              <div class="form-group">
                  <label for="log-emailaddress">Email address</label>
                  <input class="form-control" type="email" formControlName="userId"  placeholder="Enter your email">
              </div>

              <div class="form-group">
                  <a [routerLink]="['/rest-pass']" class="text-muted float-right"><small>Forgot your password?</small></a>
                  <label for="log-password">Password</label>
                  <input class="form-control" type="password"  formControlName="password"  placeholder="Enter your password">

              </div>

              <div class="form-group mb-0 text-center">
                  <button class="btn btn-primary" type="submit"  (click)="onSignIn()" [disabled]="!loginForm.valid"> Log In </button>
              </div>



          </form>
          <div class="form-group mb-0 text-center mt-2" >
              <p style="font-weight: bold;">Claimant <a style="color: #727cf5;text-decoration: underline;" href="assets/images/Claim-filing-instruction.pdf" download="Claim-filing-instruction.pdf">Click Here</a> to see User Manual for Filing Claim.</p>
          </div>
          <div class="form-group mb-0 text-center mt-2" >
              <p>For any assistance, please email to care@claim-bridge.com</p>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-info">Don't have an account? <a [routerLink]="['/signup']" class="text-info ml-1"><b>Sign Up</b></a></p>
            </div> <!-- end col -->
        </div>
      </div> <!-- end card-body -->
  </div>
  <!-- end card -->


  <!-- end row -->

</div> <!-- end col -->
