<div  mdbModal #previewModel="mdbModal" class="modal fade top"  tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false}">
<div class="modal-dialog modal-full-width modal-dialog-scrollable">
  <div class="modal-content">

      <div class="modal-body">
              <div class="row">
                      <div class="col-12 col-lg-12 col-md-12 mt-3 ">
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="form-group mb-1 row col-lg-12">
                                      <label class="col-5 modal-title text-right mt-1">Authorised Representative</label>
                                      <div class="col-7">
                                          <input type="text" [value]="claim_form.authorised_person" class="form-control" [(ngModel)]="claim_form.authorised_person" disabled>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 text-right">

                                  <button type="button" class="btn btn-primary btn-rounded"
                                          (click)="close()">Go Back
                                  </button>
                                  <button type="button" class="btn btn-primary btn-rounded" (click)="printData('previewFormC')">print
                                  </button>
                                  <button type="button"  *ngIf="claim_form && (claim_form.formStatus != 'SUBMITTED' && claim_form.formStatus != 'RE-SUBMITTED')" class="btn btn-primary btn-rounded" (click)="submitClaimForm()">Submit
                                  </button>

                              </div>
                          </div>
                          <div [innerHTML]="previewData">
                              <!-- <div class="col-lg-12 col-md-12 border" id="previewFormC">
                                  <div class="list-group text-center" [innerHTML]="headerContent"></div>
                                  <div>
                                    <app-preview_header [claim_form]="claim_form"></app-preview_header>
                                  </div>
                                  <div >
                                    <app-preview_body [formName]="formName" [claim_form]="claim_form" [deleteDocument]="deleteDocument.bind(this)" [downloadFile]="downloadFile.bind(this)"></app-preview_body>
                                  </div>
                                  <div >
                                    <app-preview_footer [claim_form]="claim_form"></app-preview_footer>
                                  </div>
                                  <div class="row">
                                      <div >
                                        <app-preview_declaration [claim_form]="claim_form" [downloadFile]="downloadFile.bind(this)"></app-preview_declaration>
                                      </div>

                                  </div>
                                  <div class="row">
                                      <div >
                                        <app-preview_verification [claim_form]="claim_form"></app-preview_verification>
                                      </div>

                                  </div>

                              </div> -->
                          </div>
                      </div>
                  </div>
      </div>
  </div>


</div>
